.board {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 4rem;
  background-color: beige;
}

.side {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  justify-content: space-around;
  width: 50px;
  height: 150px;
  background-color: grey;
  border: 2px solid black;
}

.placeholder{
    width: 100px;
}

.info-holder {
    width: 100px;
}
